/* general styling */
:root {
    --primary-color: #0147B8;
    --secundary-color: #120238;
    --contrast-color: #991ef7d7;
    --fonts-color: rgb(250, 239, 239);
    --transperency-color: #991ef728;
    --yellow: rgb(247, 247, 101);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* header styling  */
header {
    background-image: linear-gradient(to left, var(--primary-color), blue, rgb(64, 82, 245));
    padding: 3px;
    margin-bottom: 0;


}

header h1 {
    color: var(--fonts-color);
    text-align: center;


}

/* hero section  */
.hero {
    display: grid;
    grid-auto-flow: row;
    border: 3px linear-gradient(to left, var(--primary-color), blue, rgb(64, 82, 245));
    width: 100%;
    min-height: 800px;





}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 0;
    border-bottom: 3px linear-gradient(to bottom, var(--primary-color), blue, rgb(64, 82, 245));

}


.info-container {

    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    align-items: center;

}

#wheather-icon {
    max-width: 50px;
}

/* footer */
footer {
    background-color: var(--secundary-color);
    color: var(--fonts-color);
    text-align: center;
    padding: 10px;
}


/* styling for larger screen sizes */

@media screen and (min-width: 650px) {

    .hero {
        display: flex;
        flex-direction: column;

        border: 3px linear-gradient(to left, var(--primary-color), blue, rgb(64, 82, 245));
        width: 100%;
        min-height: 800px;
        position: relative;
    }

    .hero img {

        position: relative;
        width: 100%;
        min-height: 800px;
        object-fit: cover;
    }

    .info-container {
        position: absolute;


    }

    #wheather {
        align-self: flex-end;
    }

    #wheather-icon {
        height: 50px;
    }


}