/* general styling */
:root {
    --primary-color: #0147B8;
    --secundary-color: #120238;
    --contrast-color: #991ef7d7;
    --fonts-color: rgb(250, 239, 239);
    --transperency-color: #991ef728;
    --yellow: rgba(204, 204, 59, 0.774);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
    font-family: "Rowdies", sans-serif;
    color: var(--secundary-color);
}

/* header styling  */
header {
    background-image: linear-gradient(to left, var(--primary-color), blue, rgb(64, 82, 245));
    padding: 3px;
    margin-bottom: 0;


}

header h1 {
    color: var(--fonts-color);
    text-align: center;
    font-family: "Rowdies", sans-serif;


}

/* hero section  */
.hero {
    display: grid;
    grid-auto-flow: row;
    border: 3px linear-gradient(to left, var(--primary-color), blue, rgb(64, 82, 245));
    width: 100%;
    min-height: 800px;





}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 0;
    border-bottom: 3px linear-gradient(to bottom, var(--primary-color), blue, rgb(64, 82, 245));

}


.info-container {

    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    align-items: center;


}

#weather-icon {
    max-width: 50px;
    height: 80px;

}

/* footer */
footer {
    background-color: var(--secundary-color);
    color: var(--fonts-color);
    text-align: center;
    padding: 10px;
}


/* styling for larger screen sizes */

@media screen and (min-width: 650px) {

    .hero {


        display: flex;
        flex-direction: column;

        border: 3px linear-gradient(to left, var(--primary-color), blue, rgb(64, 82, 245));
        width: 100%;
        min-height: 800px;
        position: relative;
    }

    .hero img {

        position: relative;
        width: 100%;
        min-height: 800px;
        object-fit: cover;
    }

    .info-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;






    }


    #weather {

        align-self: flex-end;
        bottom: 0;


    }

    #weather-icon {

        object-fit: contain;




    }

    .icon-wrapper {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;


    }

}