:root {

    --orange: #DB3100;
    --yellow: #DE942C;
    --red: #DC2130;
    --blue: rgb(26, 26, 131);

}

a {
    color: var(--orange);
}

h1 {
    text-align: center;
}

h1,
h2 {
    color: var(--red);
    font-family: 'Outfit', sans-serif;

}

h3 {
    color: var(--blue);

}

ul {
    list-style-type: none;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: rgba(255, 166, 0, 0.329);
    padding: 10px;
}

#orange {
    color: var(--orange);
}

#yellow {
    color: var(--yellow);
}

#red {
    color: var(--red);
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

ul li::marker {

    content: "✅";
    color: var(var(--orange));
    font-size: 1, 5rem;
}

/* simple styling for mobile */

@media screen and (max-width:576px) {

    .content {
        display: flex;
        flex-wrap: wrap;
    }
}