/* General Styling */

:root {

    --orange: #DB3100;
    --yellow: #DE942C;
    --red: #DC2130;
    --blue: rgb(26, 26, 131);
}


* {
    box-sizing: border-box;
}



body {

    font-family: 'Noto Sans', sans-serif;

}


/* --------------header ----------------  */

header {
    background-color: white;

}

h1,
h2 {
    color: var(--red);
    padding-top: 10px;
    font-family: 'Outfit', sans-serif;
    text-align: center;


}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
}



#logo {
    align-self: flex-start;
    width: 100px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    justify-content: center;
}

/* ----- hero section ----- */

.hero-image img {
    width: 100%;

}

.hero {
    position: relative;
    margin: auto;
}

.hero-image {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: var(--blue);
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: var(--yellow);
}


main h1 {
    text-align: center;
}


/* -----footer ------- */

footer {
    background-color: var(--yellow);
}


/* -------- Testimonials ---------------- */

.tours-container {
    display: flex;
    flex-direction: row;
}

.testimonials-container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px0;
}

.image-container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* --------  Mobile ------------- */


@media screen and (max-width: 576px) {


    header {
        display: flex;
        justify-content: space-around;
        gap: 250px;

    }



    /* ---logo ----*/
    #logo {
        max-width: 100px;
        display: block;
        margin-bottom: 10px;
    }

    /*----menu----*/

    #hamburguer-menu {
        display: block;

        font-size: 2.3rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: white;
        color: var(--blue);
        position: relative;
    }

    #hamburguer-menu::before {
        content: "≡";
        color: var(--blue);
        position: absolute;
        left: 0;





    }

    nav {
        background-color: var(--green);
        max-height: 100px;
        position: absolute;
        right: 0;
        margin-right: 30px;
        margin-top: 60px;
        z-index: 2;





    }


    nav .menu {

        margin: 0 auto;
        max-width: 760px;
        display: flex;
        flex-direction: column;
        background-color: rgba(245, 245, 245, 0.158);

        padding: 0;
        margin: 0;
        opacity: 1;
        padding: 10px;
        border-bottom-right-radius: 6px;





    }


    .menu li {
        display: none;

    }

    .menu a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: var(--blue);
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);



    }

    .menu a:hover,
    .menu a:active {
        color: white;
        background-color: var(--orange);
        padding: 10px;
    }

    .show li {
        display: block;
    }

    #hamburguer-menu.show::before {
        content: "\2708";

    }


    /* ----- hero section ----- */

    .hero-image img {
        width: 100%;
        overflow: hidden;
        height: 300px;


    }


    /*----tours section main page ------ */

    .tours-container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }




    .card-container {
        width: clamp(230px, 80%, 920px);
        display: flex;
        overflow: hidden;
        flex-direction: column;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        position: relative;

    }

    .card-container h1 {

        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .img {
        position: relative;
        transition: transform 0.5s ease;
        z-index: 2;

    }

    .img img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px 10px 0 0;
        background-color: var(--orange);
    }


    .card-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 1rem;
        background: var(--orange);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
    }

    .card-content h2 {
        color: white;
    }

    .tittle {
        font-size: 1.25rem;
        margin: 0 0 0.5rem;



    }

    .description {
        font-size: 0.95rem;
        color: var(--blue);
        margin: 0 0 1rem;
        flex: 1;
    }


    .card-content a {
        text-decoration: none;
        color: red;
        font-weight: bold;
        align-self: flex-start;
        transition: color 0.2s ease;
        top: 70%;
        background-color: antiquewhite;
        padding: 10px;


    }



    .card-content>* {
        position: absolute;
        transition: 0.5s;
        left: 100%;
        pointer-events: auto;
    }

    .card-container:hover .card-content>* {
        left: 0;
        margin: 0.3rem 0.8rem;

    }

    .card-content .title {
        color: white;

        top: 6%;

    }

    .card-content .description {
        top: 33%;
        color: white;
        font-size: larger;

    }

    .card-content a:hover {
        color: var(--red);
    }

    .card-container:hover .img {

        transform: translateX(400px);
    }

    .card-container:hover {

        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

    }


    /* ---- testimonials ------ */

    .image-container img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

/* --------- Desktop ---------------- */


@media screen and (min-width: 1200px) {

    /* ------ logo ------ */
    header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #logo {
        max-width: 200px;
        align-self: flex-start;

    }

    nav {
        background-color: white;
        margin: 0 auto;


    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        padding: 15px;


    }

    .menu a:hover {

        background-color: var(--orange);
    }



    .menu li a {

        color: var(--blue);
        font-size: x-large;
        margin-right: 20px;
    }




    /*----tours section main page ------ */

    .tours-container {
        display: block;
        align-items: center;
    }

    .tour-card .img,
    .card-container.img {

        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;


    }

    .tour-card .img img {
        width: 250px;
        height: auto;

    }

    /*--testimonials -----*/

    .testimonials {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .image-container img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    /*------hero section -----*/


    .hero-image img {
        width: 100%;
        overflow: hidden;
        height: 700px;
    }


}