/* General Styling */

:root {

    --orange: #DB3100;
    --yellow: #DE942C;
    --red: #DC2130;
    --blue: rgb(26, 26, 131);
}


* {
    box-sizing: border-box;
}



body {

    font-family: 'Noto Sans', sans-serif;

}


/* --------------header ----------------  */

header {
    background-color: white;

}

h1,
h2 {
    color: var(--red);
    padding-top: 10px;
    font-family: 'Outfit', sans-serif;


}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
}



#logo {
    align-self: flex-start;
    width: 100px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    justify-content: center;
}

/* --------  Mobile ------------- */


@media screen and (max-width: 576px) {


    header {
        display: flex;
        justify-content: space-around;
        gap: 250px;

    }


    /* ---logo ----*/
    #logo {
        max-width: 100px;
        display: block;
        margin-bottom: 10px;
    }

    /*----menu----*/

    #hamburguer-menu {
        display: block;

        font-size: 2.3rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: white;
        color: var(--blue);
        position: relative;
    }

    #hamburguer-menu::before {
        content: "≡";
        color: var(--blue);
        position: absolute;
        left: 0;





    }

    nav {
        background-color: var(--green);
        max-height: 100px;
        position: absolute;
        right: 0;
        margin-right: 30px;
        margin-top: 60px;





    }


    nav .menu {

        margin: 0 auto;
        max-width: 760px;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;

        padding: 0;
        margin: 0;
        opacity: 1;
        padding: 10px;
        border-bottom-right-radius: 6px;





    }


    .menu li {
        display: none;

    }

    .menu a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: var(--blue);
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);



    }

    .menu a:hover,
    .menu a:active {
        color: white;
        background-color: var(--orange);
        padding: 10px;
    }

    .show li {
        display: block;
    }

    #hamburguer-menu.show::before {
        content: "\2708";

    }


}

/* --------- Desktop ---------------- */


@media screen and (min-width: 1200px) {

    /* ------ logo ------ */
    header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #logo {
        max-width: 200px;
        align-self: flex-start;

    }

    nav {
        background-color: white;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 15px;

    }

    .menu a:hover {

        background-color: var(--orange);
    }



    .menu li a {

        color: var(--blue);
        font-size: x-large;
        margin-right: 20px;
    }
}