 /* basic body styling */

 body {
     display: flex;
     flex-direction: column;

 }

 /* header section */

 header h1 {

     background-color: #6285e6;
     padding: 20px;
     gap: 0;
     margin-bottom: 0;
     margin-top: 0;
     color: black;




 }

 .navigation-menu {
     display: flex;
     flex-direction: row;
     background-color: #1e3a8a;
     max-height: 300px;
     gap: 20px;
     justify-content: center;
     padding: 20px;



 }

 .navigation-menu a {
     text-decoration: none;
     color: white;
     font-size: large;

 }

 .navigation-menu :hover {
     background-color: rgba(0, 0, 255, 0.281);
 }

 /* main section */


 main {

     max-width: 1400px;
     max-height: 700px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr;

     margin-top: 20px;

 }


 /* cards section */



 .card {


     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 600px;
     margin: 20px 20px 20px 20px;
     text-align: center;
     font-family: arial;
     border-radius: 13px;
     border: 2px solid black;
     display: flex;
     flex-direction: column;
     align-items: center;






 }

 .card img {

     width: 20%;
 }

 .title {

     max-width: 100%;
     background-color: #1e3a8a;
     align-self: stretch;
     margin-bottom: 15px;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
 }

 .title h1 {
     color: white;
 }


 .content {

     color: rgba(0, 0, 0, 0.726);
     text-align: justify;
     margin-right: 20px;
     margin-left: 20px;
     margin-bottom: 10px;
 }

 .card ul {

     list-style: none;
     text-align: left;

 }

 /* thanks message */

 .thanks-message {

     font-size: larger;
     display: block;
     margin: 0 auto;
 }

 /* footer */

 footer {

     margin-top: 50px;
     background-color: #1f2937;
     padding: 10px;


 }

 footer p {
     color: white;
     margin: 0 auto;
     display: block;
     text-align: center;

 }