 /* header section */

 header h1 {

     background-image: linear-gradient(to bottom right, rgba(3, 4, 75, 0.384), rgba(4, 0, 255, 0.329));
     padding: 20px;


 }

 .navigation-menu {
     display: flex;
     flex-direction: row;
     background-color: rgba(14, 13, 13, 0.884);
     max-height: 300px;
     gap: 20px;
     justify-content: center;
     padding: 20px;



 }

 .navigation-menu a {
     text-decoration: none;
     color: white;
     font-size: large;

 }

 .navigation-menu :hover {
     background-color: rgba(0, 0, 255, 0.281);
 }

 /* main section */


 main {

     max-width: 1400px;
     max-height: 700px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr;

     margin-top: 20px;

 }


 /* cards section */



 .card {


     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 600px;
     margin: 20px 20px 20px 20px;
     text-align: center;
     font-family: arial;
     border-radius: 5px;
     border: 2px solid black;
     display: flex;
     flex-direction: column;
     align-items: center;






 }

 .card img {

     width: 20%;
 }


 .content {

     color: rgba(0, 0, 0, 0.726);
     text-align: justify;
     margin-right: 20px;
     margin-left: 20px;
 }


 /* footer */

 footer {

     margin-top: 20px;
     background-image: linear-gradient(to bottom right, rgb(3, 75, 71), rgba(4, 0, 255, 0.829));
     padding: 10px;

 }

 footer p {
     color: white;
     margin: 0 auto;
     display: block;
     text-align: center;
 }