 /* general styling */
 :root {
     --blue: #1e3a8a;
     --white: #fcf8f4;
 }

 * {
     box-sizing: border-box;
 }



 a {
     text-decoration: none;
 }

 body {
     display: flex;
     flex-direction: column;

 }

 /* header section */

 header h1 {

     background-color: #6285e6;
     padding: 20px;
     gap: 0;
     margin-bottom: 0;
     margin-top: 0;
     color: black;
     text-align: center;




 }

 .navigation-menu {
     display: flex;
     flex-direction: row;
     background-color: var(--blue);
     max-height: 300px;
     gap: 20px;
     justify-content: center;
     padding: 20px;



 }

 .navigation-menu a {
     text-decoration: none;
     color: var(--white);
     font-size: large;

 }

 .navigation-menu :hover {
     background-color: rgba(0, 0, 255, 0.281);
 }

 /* main section */


 main {

     max-width: 1400px;
     max-height: 700px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr;

     margin-top: 50px;

 }


 /* cards section */



 .card {


     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 500px;
     min-height: 600px;
     margin: 20px 20px 20px 20px;
     text-align: center;
     font-family: arial;
     border-radius: 13px;
     border: 2px solid black;
     display: flex;
     flex-direction: column;
     align-items: center;






 }

 .card img {

     width: 20%;
     margin-top: 20px;
     margin-bottom: 20px;

 }

 .card h1 {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 .card .title {

     max-width: 100%;
     background-color: var(--blue);
     align-self: stretch;
     margin-bottom: 15px;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
 }

 .title h1 {
     color: var(--white);
 }


 .content {

     color: rgba(0, 0, 0, 0.726);
     text-align: justify;
     margin-right: 20px;
     margin-left: 20px;
     margin-bottom: 10px;
 }

 .card ul {

     list-style: none;
     align-self: flex-start;
     text-align: left;



 }

 .card a {
     color: rgb(32, 60, 219);
 }


 /* thanks message */

 .thanks-message {

     font-size: larger;
     display: block;
     margin: 0 auto;

     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 /* footer */

 footer {

     margin-top: 50px;
     background-color: #1f2937;
     padding: 10px;


 }

 footer p {
     color: white;
     margin: 0 auto;
     display: block;
     text-align: center;

 }