body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    min-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(21, 49, 209, 0.623);
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.747);
    color: white;

}

main {

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;


}

section {
    padding: 20px;
    background-color: rgb(215, 220, 250);
    color: black;
}